body{
    background-image: url("../media/background01.jpg");
}
#canvas-container{
    width: 100%;
    text-align: center;    
}
canvas{
    margin-top: 5%;
    display: inline;
}
a{
    position: absolute;
    top: 0;
    left: 20px;
    text-align: center;
    font-size: 3em;
    color: white;
}